<div class="flex flex-1 overflow-hidden min-h-0">
  <div class="flex-1 relative min-h-0">
    <%= render 'shared/map' %>
  </div>
  <turbo-frame id="sidebar_frame">
    <%= render 'shared/sidebar' %>
  </turbo-frame>
</div>