<div class="flex flex-1 overflow-hidden min-h-0">
  <div class="flex-1 relative min-h-0">
    <%= render 'shared/map' %>
  </div>
  <div class="relative">
    <%= render partial: 'shared/sidebar', locals: { itinerary: @itinerary, blocks: @itinerary.itinerary_blocks } %>
  </div>
</div>
