<div class="tab-content bg-base-100 border-base-300 p-4">
  <div class="flex justify-center gap-1">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-success whitespace-nowrap">ジャンル</div>
      <div tabindex="0" class="dropdown-content bg-base-100 rounded-box z-1 p-4 shadow-sm w-72 sm:w-80 md:w-130">
        <div class="grid grid-cols-3 gap-2 mb-3">
          <input class="btn" type="checkbox" name="G001" value="G001" aria-label="居酒屋"/>
          <input class="btn" type="checkbox" name="G002" value="G002" aria-label="ダイニングバー"/>
          <input class="btn" type="checkbox" name="G003" value="G003" aria-label="創作料理"/>
          <input class="btn" type="checkbox" name="G004" value="G004" aria-label="和食"/>
          <input class="btn" type="checkbox" name="G005" value="G005" aria-label="洋食"/>
          <input class="btn" type="checkbox" name="G006" value="G006" aria-label="イタリアン"/>
          <input class="btn" type="checkbox" name="G007" value="G007" aria-label="中華"/>
          <input class="btn" type="checkbox" name="G008" value="G008" aria-label="焼肉・ホルモン"/>
          <input class="btn" type="checkbox" name="G017" value="G017" aria-label="韓国料理"/>
          <input class="btn" type="checkbox" name="G009" value="G009" aria-label="アジア料理"/>
          <input class="btn" type="checkbox" name="G012" value="G012" aria-label="バー・カクテル"/>
          <input class="btn" type="checkbox" name="G013" value="G013" aria-label="ラーメン"/>
          <input class="btn" type="checkbox" name="G016" value="G016" aria-label="お好み焼き"/>
          <input class="btn" type="checkbox" name="G014" value="G014" aria-label="カフェ・スイーツ"/>
          <input class="btn" type="checkbox" name="G015" value="G015" aria-label="その他グルメ"/>
        </div>
        <input class="btn btn-error w-full" type="reset" value="リセット"/>
      </div>
    </div>
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-success whitespace-nowrap">こだわり条件</div>
      <div tabindex="0" class="dropdown-content bg-base-100 rounded-box z-1 p-4 shadow-sm w-72 sm:w-80 md:w-130">
        <div class="grid grid-cols-3 gap-2 mb-3">
          <input class="btn" type="checkbox" name="城" value="城" aria-label="ランチあり"/>
          <input class="btn" type="checkbox" name="parking" value="1" aria-label="駐車場あり"/>
          <input class="btn" type="checkbox" name="sake" value="1" aria-label="日本酒充実"/>
          <input class="btn" type="checkbox" name="shochu" value="1" aria-label="焼酎充実"/>
          <input class="btn" type="checkbox" name="wine" value="1" aria-label="ワイン充実"/>
          <input class="btn" type="checkbox" name="private_room" value="1" aria-label="個室あり"/>
        </div>
        <input class="btn btn-error w-full" type="reset" value="リセット"/>
      </div>
    </div>
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-success whitespace-nowrap" id="budget-button">予算</div>
      <div tabindex="0" class="dropdown-content bg-base-100 rounded-box z-1 p-4 shadow-sm">
        <div class="flex items-center gap-2">
          <select name="budget" id="budget" class="select w-auto">
            <option disabled selected>予算を選択</option>
            <option value="">指定なし</option>
            <% food_budget_options.each do |budget| %>
              <option value="<%= budget[:code] %>"><%= budget[:name] %></option>
            <% end %>
          </select>
        </div>
        <input class="btn btn-error mt-3" type="reset" value="リセット"/>
      </div>
    </div>
    <input type="search" name="keyword" placeholder="検索" value="<%= @keyword %>" class="input">
    <input type="submit" name="api_type" value="🔎" class="btn btn-active bg-blue-700" data-api-type="hotpepper" />
  </div>
</div>