<div class="absolute top-3 left-4 right-4 mx-auto z-20 w-3/5 px-4">
  <form id="location-search-form" class="w-full">
    <div class="flex">
      <select name="location" id="location" class="select">
        <option value="" disabled selected>温泉地</option>
        <% @default_locations.each do |default_location| %>
          <option value="<%= default_location.name %>">
            <%= default_location.name %>
          </option>
        <% end %>
      </select>
        <div class="tabs tabs-lift rounded-md">
          <input type="radio" name="my_tabs_6" class="tab" checked="checked" aria-label="旅館・ホテル" />
            <%= render 'shared/search_bar/hotel_search' %>

          <input type="radio" name="my_tabs_6" class="tab" aria-label="飲食店" />
          <div class="tab-content bg-base-100 border-base-300 p-6">

          </div>

          <input type="radio" name="my_tabs_6" class="tab" aria-label="景観地" />
          <%= render 'shared/search_bar/sightseeing_search' %>
        </div>
    </div>
  </form>
</div>