<div class="tab-content bg-base-100 border-base-300 p-4">
  <div class="flex justify-center gap-1">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-success whitespace-nowrap">こだわり条件</div>
      <div tabindex="0" class="dropdown-content bg-base-100 rounded-box z-1 p-4 shadow-sm w-72 sm:w-80 md:w-130">
        <div class="grid grid-cols-3 gap-2 mb-3">
          <input class="btn" type="checkbox" name="城" value="城" aria-label="城"/>
          <input class="btn" type="checkbox" name="景観地" value="景観地" aria-label="景観地"/>
          <input class="btn" type="checkbox" name="公園" value="公園" aria-label="公園"/>
        </div>
        <input class="btn btn-error w-full" type="reset" value="リセット"/>
      </div>
    </div>
    <input type="search" name="sightseeing_keyword" placeholder="検索" value="<%= @keyword %>" class="input">
    <input type="submit" value="🔎" class="btn btn-active bg-blue-700" data-api-type="google" />
  </div>
</div>