<div class="relative w-full h-[calc(100dvh-56px)] sm:h-full">
  <div id="map" class="absolute inset-0 z-0"></div>
  <%= render "shared/search_bar" %>
  <%= link_to "旅程作成!", new_itinerary_path, class: "absolute top-24 left-4 z-20 bg-orange-400 text-white px-4 py-2 rounded shadow" %>
</div>
