<div class="absolute top-3 left-4 right-4 mx-auto z-20 w-1/2 px-4">
  <form id="location-search-form" class="w-full">
    <div class="flex space-x-2">
        <select name="location" id="location" class="select">
          <option value="" disabled selected>温泉地</option>
          <% @default_locations.each do |default_location| %>
            <option value="<%= default_location.name %>">
              <%= default_location.name %>
            </option>
          <% end %>
        </select>

      <select name="accommodation_type" id="accommodation_type" class="select">
        <option value="旅館・ホテル" selected>旅館・ホテル</option>
        <option value="旅館・ホテルを含めない">旅館・ホテルを含めない</option>
      </select>

      <select name="poi_type" id="poi_type" class="select">
        <option value="飲食・観光地" selected>飲食・観光地</option>
        <option value="飲食・観光地を含めない" selected>飲食・観光地を含めない</option>
      </select>

      <!-- keyword -->
      <div class="relative w-full">
        <input type="search" name="keyword" placeholder="検索" value="<%= @keyword %>" class="block p-2.5 w-full text-sm bg-gray-50 border border-gray-300 rounded-lg">
        <button type="submit" class="absolute top-0 end-0 p-2.5 text-white bg-blue-700 rounded-r-lg hover:bg-blue-800">🔍</button>
      </div>
    </div>
  </form>
</div>